@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=East+Sea+Dokdo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
        
        /*General content */
        
        html {
            box-sizing: border-box;
        }
        
        *,
        *:before,

        *:after {
            box-sizing: inherit;
        }
        
        body {
            margin: 0px;
        }
        
        h1,
        h2,
        h3 {
            font-family: 'Montserrat', sans-serif;
            text-align: center;
        }
        
        h2 {
            font-size: 150%;
        }
        
        p,
        li,
        table,
        button,
        a,
        label,
        input {
            font-family: 'Architects Daughter', cursive;
            font-size: 100%;
        }
        
        button {
            background-color: #4c96d7;
            padding: 3px 15px 3px;
        }
        /*Header*/
        
        header {
            height: auto;
        }
        
        header a {
            vertical-align: middle;
        }
        
        header .account a {
            color: #8d8d8d;
            float: right;
            font-size: 1.2rem;
            padding-top: 0;
            padding-right: 5%;
            text-decoration: none;
        
        }
        
        header .account {
            float: right;
            color: #8d8d8d;
            display: block;
            font-size: 150%;
            padding-top: 5px;
            padding-right: 20px;
            text-decoration: none;
            
        }
        /*Navigation Bar*/
        
        .topnav {
            position: relative;
            height: 50px;
        }
        
        .topnav-centered {
            top: 50%;
            left: 50%;
            float: none;
            position: absolute;
            transform: translate(-50%, -50%);
        }
        
        nav ul {
            
            padding: 0;
            top: 50%;
            left: 50%;
            text-align: center;
            list-style-type: none;
        }
        
        .topnav li {
            width: 150px;
            display: inline;
            height: 50px;
            padding: 0;
        }
        
        nav {
            overflow: hidden;
            display: flex;
            justify-content: flex-start;
            background-color: #3a3a3a;
        }
        
        .topnav a {
            top: 50%;
            left: 50%;
            float: none;
            color: #ffffff;
            width: 30px;
            padding: 14px 16px;
            font-size: 15px;
            text-align: center;
            text-decoration: none;
        }
        
        li a:hover {
            
            color: #000000;
            background-color: #4c96d7;
        }
        /*Main section is here*/
        
        main {
            padding-left: 1%;
            padding-bottom: 25px;
        }
        
        .dmc_delorean {
            padding-left: 2%;
        }
        
        .dmc_delorean p {
            color: #4c96d7;
            margin: -5px;
            font-family: 'East Sea Dokdo', cursive;
            padding-left: 3%;
            font-size:1.5vw;
        }
        
        .delorean_image img {
            display: block;
            position: relative;
            max-width: 100%;
            max-height: 100%;
            text-align: center;
        }
        
        .reviews {
            padding-left: 3px;
            margin-left: 20px;
        }
        
        
        ul.reviews_list {
            list-style-type: circle;
        }
        
        td {
            padding: 15px 10px;
            text-align: center;
        }

        table {
            -webkit-border-horizontal-spacing: 10px;
        }
        
        
        
        .cell_image {
            border: 1px solid #000000;
            font-size: 100%;
            background-color: #4c96d7;
        }
        
        table td img {
            background-color: #4c96d7;
            width: 100%;
        }
        
        .own_button {
            margin-top: 30px;
            margin-left: 30px;
        }
        /* ---- NOTIFICATION MESSAGE ---- */
        
        .infoMessage {
            color: rgb(189, 39, 39);
            width: 90%;
            margin: auto;
            font-size: 1.1em;
            text-align: left;
            font-weight: 900;
            margin-bottom: 22px;
        }
        /*Footer*/
        
        footer {
            color: #3a3a3a;
            padding: 1%;
            position: relative;
            max-width: 100%;
            border-top: 5px solid #8d8d8d;
            text-align: center;
            font-family: 'East Sea Dokdo', cursive;
            
        }
        
        footer p {
            margin: 0;
            color: #3a3a3a;
        }
        /* Vehicle management*/
        
        .vehi-man,
        .add-vehi,
        .add-class,
        .registration_form,
        .login_form {
            width: 65%;
            border: solid;
            padding: 10px;
            margin-top: 50px;
            margin-left: 15%;
            padding-left: 40px;
            border-style: inset;
            border-radius: 10px;
            margin-bottom: 50px;
            padding-bottom: 40px;
            
        }
        
        .vehi-man h1,
        .add-vehi h1,
        .add-class h1,
        .registration_form h1,
        .login_form h1 {
            text-align: center;
        }
        
        .vehi-man ul {
            list-style-type: none;
        }
        /* ---- MANAGEMENT VEHICLE TABLE ---- */
        
        #inventoryDisplay td,
        td {
            text-align: left;
            padding-top: 0px;
            padding-bottom: 0px;
            
        }
        /* ---- VEHICLE DISPLAY CLASSIFICATION  ----*/
        
        #inv-display {
            margin: 0;
            padding: 0;
            display: flex;
            text-align: center;
            flex-direction: column;
            
        }
        
        #info-display ul {

            padding-left: 10px;
        }
        
        #inv-display li {
            margin-left:0%;
            margin-bottom: .5em;
            border: 1px #ccc solid;
            list-style-type: none;
            flex: 1 1 auto;
        }
        
        #inv-display li img {
            
            max-width: 100%;
        }
        /* ---- VEHICLE DETAILED VIEW ---- */
        
        #info-display img {
            width: 95%;
            height: auto;
        }
        
        #info-display h1,
        h3 {
            padding-left: 10px;
        }
        
        #info-display ul {
            margin-right: 20px;
        }
        
        #info-display li {
            list-style-type: none;
            color: #808080;
            text-align: justify;
            padding: 10px;
        }
        
        #info-display img {
            width: 95%;
            height: auto;
            margin-left: auto;
            margin-right: auto;
        }
        
        #info-display li:nth-child(even) {
            background-color: #f0ecec;
        }
        
        #info-display {
            display: grid;
            grid-template-columns: 1fr;
        }
        
        #info-display .image_area {
            grid-row: 1;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
        
        #info-display .thumbnails_area {
            grid-row: 2;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
        
        #info-display .text_area {
            grid-row: 3;
        }
        /* ---- THUMBNAILS IMAGES ---- */
        
        #info-display .thumbnails_area img {
            max-width: 150px;
            max-width: 150px;
            vertical-align: middle;
            margin: 3px;
        }
        /* ---- Customer Reviews ---- */
        
        #review_form {
            border: solid 1px #808080;
            border-radius: 10px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            width: 95%;
            margin: auto;
            padding: 30px;
        }
        
        #review {
            width: 100%;
            height: 180px;
            border: 3px solid #cccccc;
            padding: 5px;
        }
        
        .reviews {
            margin: auto;
            margin-top: 20px;
        }
        
        .customer_review {
            background-color: #f8f0d4;
            padding: 20px 10px 5px 10px;
            width: 95%;
            margin: auto;
            margin-bottom: 15px;
            border-radius: 5px;
        }
        
        .customer_review label {
            font-size: .9em;
            width: 100%;
        }
        
        .customer_review p {
            background-color: #ffffff;
            padding: 10px;
            margin-top: 0px;
            margin-bottom: 15px;
            border-radius: 5px;
            font-size: .9em;
        }
        
        .customer_reviews li {
            font-size: .9em;
            height: 44px;
        }
        /* ---- DELETE FORM ---- */
        
        form label {
            display: block;
        }
        
        #deleting_form {
            margin: auto;
            width: 90%;
        }
        
        @media only screen and (min-width: 600px) {
            body {
                background-image: url('/phpmotors/images/site/small_check.jpg');
                background-color: white;
                padding-left: 12%;
                padding-right: 12%;
                padding-top: 2%;
                padding-bottom: 2%;
            }
            .content {
                background-color: #ffffff;
                border: 4px solid #4c96d7;
                border-radius: 8px;
            }
        }
        /* ---- VEHICLE DETAILED VIEW ---- */
        
        @media only screen and (min-width: 768px) {
            /* ---- HOME PAGE ---- */
            .delorean_image img {
                width: 90%;
                height: auto;
                margin-left: auto;
                margin-right: auto;
            }
            /* ---- VEHICLE DISPLAY CLASSIFICATION ---- */
            /* For vehicle display in classification view */
            #inv-display {
                flex-flow: row wrap;
                justify-content: flex-start;
               
            }
            #inv-display h2 {
                font-size: 1rem;
                color:black;
            }
            #inv-display a {
            text-decoration: none;
            }
            #inv-display li {
                margin-left:10%;
                max-width: 200px;
                flex: 1 0 auto;
                text-align: center;
                height: 250px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                border-radius: 10px 10px;
                
            }
            #inv-display li a:hover {
                border-radius: 10px 10px 0 0;
                color: #000000;
                background-color: #4c96d7;
            }
            #inv-display img{
                border-radius: 10px 10px;
            }
            #inv-display div {
                width: 100%;
            }
            /* ---- VEHICLE DETAILED VIEW ---- */
            #info-display {
                border: solid 1px #f0ecec;
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                margin: 20px;
                text-align: center;
                display: grid;
                grid-template-columns: 18% 80%;
                grid-template-rows: 1fr 1fr;
                column-gap: 20px;
                padding: 30px;
            }
            #info-display .image_area {
                grid-row: 1;
                grid-column: 2;
            }
            #info-display .text_area {
                grid-row: 2;
                grid-column: 2;
            }
            #info-display img {
                width: 100%;
                height: auto;
                max-width: 499px;
                margin-top: 60px;
            }
            #info-display ul {
                padding: 0px;
                margin-right: 0px;
                margin-bottom: 0px;
            }
            #info-display li {
                color: #808080;
                padding: 20px;
            }
            #info-display H3 {
                color: #000000;
                font-weight: bolder;
                font-size: 1.2em;
            }
            /* ---- VEHICLE THUMBNAILS DETAILED VIEW ---- */
            #info-display .thumbnails_area {
                grid-row: 1/2;
                grid-column: 1;
                margin-top: 60px;
            }
            #info-display .thumbnails_area img {
                margin: 3px;
            }
            #info-display .thumbnails_area img:hover {
                transform: scale(2.0);
            }
            /* ---- Customer Reviews ---- */
            #review_form {
                border: solid 1px #808080;
                border-radius: 10px;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                width: 95%;
                margin: auto;
                padding: 30px;
            }
            #review {
                width: 600px;
                height: 120px;
                border: 3px solid #cccccc;
                padding: 5px;
            }
            .reviews {
                margin: auto;
                margin-top: 20px;
            }
            .customer_review {
                background-color: #f8f0d4;
                padding: 30px 30px 5px 30px;
                width: 90%;
                margin: auto;
                margin-bottom: 15px;
                border-radius: 5px;
            }
            .customer_review p {
                background-color: #ffffff;
                padding: 10px;
                margin-top: 0px;
                margin-bottom: 15px;
                border-radius: 5px;
            }
            /* ---- DELETE FORM ---- */
            form label {
                display: block;
            }
        }